#header-bg{
    background-image: url('https://4.bp.blogspot.com/-08KK6RV14Fo/Wmm3uTFkTVI/AAAAAAAAaUI/PIu1SOLSdbErIGx6xEHj6h7zFK25CxalQCLcBGAs/s1600/Isaac%2BNewton%2B752%2BO%2BBaricentro%2Bda%2Bmente.png');
    opacity: 0.5;
}